h1{
font-family:Arial;
font-size:24px;
}

h2{
font-family:Arial;
font-size:20px;
}

h3{
font-family:Arial;
font-size:16px;
}

form{
font-family:Arial;
font-size:12px;
}

div.divider{
margin-top:8px;
height:1px;
border-top:1px dashed lightgrey;
width:100%;
clear:both;
}

input[type=text]{
font-size:12px !important;
padding:4px;
border:1px solid lightgrey;
text-align: left;
background-image:url('/new/tpl/default/img/btn_bg.jpg');
background-position:0px -75px;
}

input[type=password]{
font-size:12px !important;
padding:4px;
border:1px solid lightgrey;
text-align: left;
background-image:url('/new/tpl/default/img/btn_bg.jpg');
background-position:0px -75px;
}

select{
font-size:12px;
border:1px solid lightgrey;
background-image:url('/new/tpl/default/img/btn_bg.jpg');
background-position:0px -75px;
text-align: left;
padding:2px;
}


input[type=submit]{
width:auto;
height:30px;
padding:0;
margin:0;
padding-bottom:4px;
padding-left:8px !important;
padding-right:8px !important;
text-align:center !important;
font-family:arial;
font-size:12px !important;
border:1px solid #D5D5D5;
color:#FFFFFF;
background-image:url('/new/tpl/default/img/btn_black_bg.jpg');
background-position:0px 0px;
background-repeat:repeat-x;
cursor:pointer;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
line-height:-2px !important;
}

input[type=submit]:hover{
border:1px solid #999999;
background-position:0px -28px;
}

input[type=submit]:active{
background-position:0px -56px;
}

textarea{
padding:3px;
font-size:12px;
font-family:Arial;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
line-height:18px;
border:1px solid #D9D9D9;
letter-spacing:0px;
background-image:url('/new/tpl/default/img/btn_bg.jpg');
background-position:0px -75px;
background-repeat:repeat-x;
}

div.btn{
width:auto;
height:28px !important;
border:1px solid #545454;
background-image:url('/new/tpl/default/img/btn_black_bg.jpg');
background-repeat:repeat-x;
cursor:pointer;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
position:relative;
float:left;
}

div.btn p{
width:auto;
height:auto;
padding:0;
margin:0 !important;
line-height:1em !important;
padding-top:7px !important;
padding-left:12px !important;
padding-right:12px !important;
text-align:center !important;
font-size:12px;
font-weight:normal !important;
color:#FFFFFF !important;
position:relative;
float:left;
}

a div.btn p{
text-decoration:none !important;
}

div.ico p{
padding-left:7px !important;
}

div.ico img{
float:left;
margin-left:8px;
margin-top:5px;
}

div.btn:hover{
border-color:#999999;
background-position:0px -28px;
}

div.btn:active{
background-position:0px -56px;
}

div.btn div.uploadIcon{
background-image:url(/plugins/uploadify/iconset.png);
background-position:1px 2px;
width:20px;
height:20px;
float:left;
}

div.btn p.upload{
float:left;
}

div.top{
width:100%;
height:25px;
background-image:url('/new/tpl/default/img/top_bg.jpg');
background-position:0px 0px;
background-repeat:repeat-x;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
-webkit-border-top-right-radius: 6px;
-webkit-border-top-left-radius: 6px;
}
div.top p{
padding-top:4px;
padding-left:12px;
font-size:12px;
color:#FFFFFF;
text-shadow: #666666 1px 1px 2px;
}

input:focus, textarea:focus{
border:1px solid #5398C6;
}


div.imanager{
float:left;
cursor:pointer;
background-position:-30px -107px;
}

div.formlogin{
width:300px;
overflow:hidden;
margin:0px auto 80px auto;
border:1px solid #5a5a5a;
-moz-box-shadow: 1px 1px 4px #D5D5D5;
-webkit-box-shadow: 1px 1px 4px #D5D5D5;
box-shadow: 1px 1px 4px #D5D5D5;
}

div.formlogin input{
width:180px;
}

div.formlogin label{
float:left;
font-size:12px;
padding-top:8px;
padding-left:2px;
}
